<a href="https://colab.research.google.com/github/vishallmaurya/sentiment_analyzer_backend/blob/main/sentimen_analysis_2_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/content/sentiment_data_2_label.csv')

In [6]:
df.head(1)['Tweet']

0    Waited longer for one checked bag than the act...
Name: Tweet, dtype: object